# Files #
#########
*.bak
*.log
build.bat
tsconfig.json
build-exclude-filelist

# Directories #
###############
dist/
src/
test/

# vscode #
###############
.vscode/

# Node.js #
###########
package-lock.json
.npmignore
node_modules/
data/

# Temporary files #
###################
*~

# Git #
#######
.gitignore

# Utilities #
#############
.jshintrc
.jshintignore
.travis.yml
.editorconfig

# Node-RED #
#############
#examples/